

DATABASE_NAME = 'hangman'
DATABASE_USER = 'root'
DATABASE_PASSWORD = ''
DATABASE_HOST ='127.0.0.1'

FACEBOOK_APP_ID = '21014682113'
FACEBOOK_API_SECRET = 'eff2b9427381059e02ff9482aa0ad351'
FACEBOOK_EXTENDED_PERMISSIONS = ['email']

LOGIN_URL          = '/login/'
LOGIN_ERROR_URL    = '/login-error/'
LOGIN_REDIRECT_URL = '/'